# importing

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

# Data Wrangling
## Data Gathering

In [4]:
df_chic = pd.read_csv('chicago.csv')
df_ny = pd.read_csv('nyc.csv')
df_wash = pd.read_csv('washington.csv')

## Data Assessing

In [3]:
df_chic.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [4]:
df_ny.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,5688089,2017-06-11 14:55:05,2017-06-11 15:08:21,795,Suffolk St & Stanton St,W Broadway & Spring St,Subscriber,Male,1998.0
1,4096714,2017-05-11 15:30:11,2017-05-11 15:41:43,692,Lexington Ave & E 63 St,1 Ave & E 78 St,Subscriber,Male,1981.0
2,2173887,2017-03-29 13:26:26,2017-03-29 13:48:31,1325,1 Pl & Clinton St,Henry St & Degraw St,Subscriber,Male,1987.0
3,3945638,2017-05-08 19:47:18,2017-05-08 19:59:01,703,Barrow St & Hudson St,W 20 St & 8 Ave,Subscriber,Female,1986.0
4,6208972,2017-06-21 07:49:16,2017-06-21 07:54:46,329,1 Ave & E 44 St,E 53 St & 3 Ave,Subscriber,Male,1992.0

In [5]:
df_wash.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type
0,1621326,2017-06-21 08:36:34,2017-06-21 08:44:43,489.066,14th & Belmont St NW,15th & K St NW,Subscriber
1,482740,2017-03-11 10:40:00,2017-03-11 10:46:00,402.549,Yuma St & Tenley Circle NW,Connecticut Ave & Yuma St NW,Subscriber
2,1330037,2017-05-30 01:02:59,2017-05-30 01:13:37,637.251,17th St & Massachusetts Ave NW,5th & K St NW,Subscriber
3,665458,2017-04-02 07:48:35,2017-04-02 08:19:03,1827.341,Constitution Ave & 2nd St NW/DOL,M St & Pennsylvania Ave NW,Customer
4,1481135,2017-06-10 08:36:28,2017-06-10 09:02:17,1549.427,Henry Bacon Dr & Lincoln Memorial Circle NW,Maine Ave & 7th St SW,Subscriber

In [6]:
df_chic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  object
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      300000 non-null  object
 7   Gender         238948 non-null  object
 8   Birth Year     238981 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

In [7]:
df_ny.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  object
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  int64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      299308 non-null  object
 7   Gender         270791 non-null  object
 8   Birth Year     271780 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

In [8]:
df_wash.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     300000 non-null  int64
 1   Start Time     300000 non-null  object
 2   End Time       300000 non-null  object
 3   Trip Duration  300000 non-null  float64
 4   Start Station  300000 non-null  object
 5   End Station    300000 non-null  object
 6   User Type      300000 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 16.0+ MB

In [9]:
df_chic.duplicated().sum()

0

In [10]:
df_ny.duplicated().sum()

0

In [2]:
df_wash.duplicated().sum()

NameError: name 'df_wash' is not defined

## Data Cleaning

In [12]:
df_chic.dropna(inplace=True)

In [13]:
df_ny.dropna(inplace=True)

In [14]:
df_chic['Start Time'] = pd.to_datetime(df_chic['Start Time'])
df_chic['End Time'] = pd.to_datetime(df_chic['End Time'])
df_ny['End Time'] = pd.to_datetime(df_ny['End Time'])
df_ny['Start Time'] = pd.to_datetime(df_ny['Start Time'])
df_wash['Start Time'] = pd.to_datetime(df_wash['Start Time'])
df_wash['End Time'] = pd.to_datetime(df_wash['End Time'])

In [15]:
df_chic['State'] = 'Chicago'
df_ny['State'] = 'New York'
df_wash['State'] = 'washington'

In [16]:
df_chic['Birth Year'] = df_chic['Birth Year'].astype(int)
df_ny['Birth Year'] = df_ny['Birth Year'].astype(int)

In [17]:
df = df_chic

In [18]:
df = df.append(df_ny)

C:\Users\ip\AppData\Local\Temp\ipykernel_20712\1007062906.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_ny)

In [19]:
df = df.append(df_wash)

C:\Users\ip\AppData\Local\Temp\ipykernel_20712\2418393439.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_wash)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 809050 entries, 0 to 299999
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     809050 non-null  int64
 1   Start Time     809050 non-null  datetime64[ns]
 2   End Time       809050 non-null  datetime64[ns]
 3   Trip Duration  809050 non-null  float64
 4   Start Station  809050 non-null  object
 5   End Station    809050 non-null  object
 6   User Type      809050 non-null  object
 7   Gender         509050 non-null  object
 8   Birth Year     509050 non-null  float64
 9   State          809050 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(1), object(5)
memory usage: 67.9+ MB

In [21]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,State
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321.0,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,Chicago
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610.0,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,Chicago
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416.0,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,Chicago
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350.0,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,Chicago
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534.0,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,Chicago

# Data Exploration

In [22]:
df['Start Station'].value_counts()

Columbus Circle / Union Station         5656
Lincoln Memorial                        5043
Jefferson Dr & 14th St SW               5022
Clinton St & Washington Blvd            4197
Massachusetts Ave & Dupont Circle NW    3946
                                        ...
Exchange Ave & 79th St                     1
Halsted St & 69th St                       1
MLK Jr Dr & 83rd St                        1
Throop St & 52nd St                        1
Marshfield Ave & 59th St                   1
Name: Start Station, Length: 1682, dtype: int64

In [23]:
df['End Station'].value_counts()

Columbus Circle / Union Station         6048
Jefferson Dr & 14th St SW               5218
Lincoln Memorial                        5036
Massachusetts Ave & Dupont Circle NW    4483
Clinton St & Washington Blvd            4068
                                        ...
Woodlawn Ave & 75th St                     1
Gowanus Tech Station                       1
NYCBS Depot - PIT                          1
NYCBS Depot BAL - DYR                      1
Columbia Pike & S Taylor St                1
Name: End Station, Length: 1686, dtype: int64

In [24]:
df['Start Time'].mode()

0   2017-02-19 16:07:00
1   2017-03-29 17:36:00
Name: Start Time, dtype: datetime64[ns]

In [25]:
df['State'].value_counts()

washington    300000
New York      270102
Chicago       238948
Name: State, dtype: int64

In [28]:
df.to_csv('BikeShare_Mod.csv')

KeyboardInterrupt: